{% extends "base_header.html" %}
{% block conteudo %}
<section class="">
    <div class="">
      <div class="">
        <div class="">
          <h3 class="">Cadastro de receitas</h3>
        </div><!-- /.box-header -->
        <div class="">
          <div class="">
            {% with messages = get_flashed_messages()%}
              {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-success">
                    {{message}}                                          
                  </div>                                 
                  {% endfor %}
               {% endif %}
            {% endwith %}
          </div>      
            <div class="">
              <table id="example" class="" style="width:50%">
                <tbody>
                  {% for receita in receitas %}

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <a href="{{url_for('excluir_receita',id=receita.id)}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a>
                                <a href="/atualizar/{{receita.id}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{receita.nome}}</h5>
                                    <br>
                                    <p class="card-text">{{receita.descricao}}</p>
                                    <br>
                                    <p class="card-text"><small class="text-body-secondary">Nota: {{receita.nota}} | ID: {{receita.id}}</small></p>

                                </div>
                            </div>
                        </div>
                    </div>


                  {% endfor %}
                 
                             
                </tbody>
            </table>
            <a href="{{url_for('cad_receita')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir receita</a>
         </div>      
      </div>        
    </div>
</section>
{% endblock %}