{% extends "base_header.html" %}
{% block conteudo %}
<div class="linhas">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">João Pedro Dumbra Sturla</h5>
                    <p class="card-text">Desenvolvimento <br>Front-End e Design do site.</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">202302424856</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Felipe Sposito de Souza</h5>
                    <p class="card-text">Desenvolvimento do <br>Back-End e lógica por trás do projeto.</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">202302377671</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Andrei Medeiros Gama Gatti</h5>
                    <p class="card-text">Desenvolvimento <br>do Banco de Dados do projeto.</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">202302377891</small></p>
                </div>
            </div>
        </div>
    </div>
      

</div>

<div class="linhas_p2">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Carlos Henrique Grecco Pexe</h5>
                    <p class="card-text">Desenvolvimento e <br>suporte no Back-End do projeto.</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">202302377599</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">João Gabriel Prais Alves Queiroz</h5>
                    <p class="card-text">Documentação do projeto e suporte no desenvolvimento</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">202302378463</small></p>
                </div>
            </div>
        </div>
    </div>
      

</div>

<div class="linhas_sp">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../static/imagens/Logo2P.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Eder Carlos Fernander</h5>
                    <p class="card-text">Professor de Desenvolvimeto Rapido de Aplicações em Python
                        e Avaliador do projeto.</p>
                    <br>
                    <p class="card-text"><small class="text-body-secondary">Desenvolvimento R. Python</small></p>
                </div>
            </div>
        </div>
    </div>
      

</div>
{% endblock %}